@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

.login {
    font-family: 'Hind Siliguri', sans-serif;
    color: #333;
}

.forgot-pass {
    font-family: 'Roboto', sans-serif;
    color: #212529;
    font-style: italic;
    margin-left: 1px;
}

.forgot-pass a {
    font-family: 'Roboto', sans-serif;
    color: #212529;
    font-style: italic;
    margin-left: 1px;
}

.forgot-pass a:hover {
    font-family: 'Roboto', sans-serif;
    color: #17A2B8;
    font-style: italic;
    text-decoration: none;
    margin-left: 1px;
}

.form-box {
    background: #81c1d3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(57, 86, 131);
    font-style: normal;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}